.welcome-image{
    padding-bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    margin:0%;
}
.text-field{
    color: white;
    padding-top: 0%;
    margin-top: 0;
    background-color: #c79ff0;
    width: 100%;
    margin-left: -0.52%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
body,html{
    background-color: #c79ff0;
    margin:0;
    overflow-x:hidden;
    padding-left: 0;
}
@media screen and (max-width: 480px) {
    .text-field {
        margin-top: -1.39%;
        color:red;
    }
    .welcome-image{
        content:url("/Gif_mobile.mp4");
        width: 430px;
        height: 100vh;
    }
}
hr{
    margin:0;
    padding: 0;
    width: 150%;
    background-color: black;
    height: 0.3vh;
}
.intro_content{    
    padding-right: 3vw;
    text-shadow: 1px 1px #000000;
    font-size: 100;
    font-family: cursive;
}
.intro_head{
    text-shadow: 4px 3px #ab0000;
    font-size: 2vw;
    font-family: fantasy;
}
table{
    margin-left: 0;
}
.dis_image{
    height: 100%;
    width: 100%;
    border-right: .23vw solid black;
    padding-right:3vw;
    margin-left: -1vw;
    margin-top: -0.5vh;
    padding-bottom:0 ;
}
.distribution{
    background-color: rgba(58, 99, 232, 0.904); 
    width: 100vw;
    border: 1px solid black;
    margin-left: -1vw ;
    padding-bottom: 0;
}
.dis_content{
    padding-right: 3vw;
    padding-left: 5vw;
    text-shadow: 2px 1px #151414;
    font-size: 120%;
    font-family: cursive;
}
.dis_content_head{
    text-shadow: 6px 3px #a309cd;
    font-size: 230%;
    font-family: fantasy;;
}
.dis_content_size{
    height: 80vh;
    width: 100vw;
}

@media screen and (width >=  2560px){
    .intro_content{    
        text-shadow: 3px 2px #000000;
        font-size: 200%;
    }
    .dis_content{
        padding-right: 3vw;
        padding-left: 3.5vw;
        text-shadow: 3px 2px #151414;
        font-size: 210%;
    }
    .intro_head{
        text-shadow: 6px 5px #ab0000;
        font-size: 5vw;
    }
}


@media screen and (width >=  1440px ) and (width < 2560px){
    .intro_head{
        font-size: 5vw;
        text-shadow: 4px 2px  #ab0000;
    }
    .dis_content_head{
        margin-bottom: -0.2vh;
        text-shadow: 3px 2px #a309cd;
        font-size: 190%;
    }
    .dis_content_size{
        height: 70vh;
    }
    .dis_content{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 3vw;
        padding-left: 4vw;
        text-shadow: 2px 1px #151414;
        font-size: 119%;
        font-family: cursive;
    }
    .dis_image{
        margin-left: -0.1%;
        margin-bottom:-1%;
    }
    .dis_bottom_hr{
        margin-top:-0.9vh;
    }
}


@media screen and (width >=  1024px) and (width < 1440px){
    .intro_content{    
        text-shadow: 2px 1px #000000;
        font-size: 95%;
    }
    .dis_content{
        padding-right: 3vw;
        padding-left: 4vw;
        text-shadow: 2px 1px #151414;
        font-size: 85%;
        font-family: cursive;
    }
    .intro_head{
        text-shadow: 6px 5px #ab0000;
        font-size: 5vw;
    }
}