.welcome-image{
    padding-bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    margin:0%;
}
.text-field{
    color: white;
    padding-top: 0%;
    margin-top: 0;
    background-color: #c79ff0;
    width: 100%;
    margin-left: -0.52%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
body,html{
    background-color: #c79ff0;
    margin:0;
    overflow-x:hidden;
    padding-left: 0;
}
@media screen and (max-width: 480px) {
    .text-field {
        margin-top: -1.39%;
        color:red;
    }
    .welcome-image{
        content:url("/Gif_mobile.mp4");
        width: 430px;
        height: 100vh;
    }
}
hr{
    margin:0;
    padding: 0;
    width: 150%;
    background-color: black;
    height: 0.3vh;
}
.intro_content{
    text-shadow: 1px 1px #000000;
    font-size: larger;
    font-family: cursive;
}
.intro_head{
    text-shadow: 4px 3px #ff0000;
    font-size: 5Vw;
    font-family: fantasy;
}
table{
    margin-left: 0;
}
.dis_image{
    height: 91vh;
    border-right: .23vw solid black;
    padding-right:3vw;
    margin-left: -1vw;
    margin-top: -0.5vh;
    padding-bottom:0 ;
}
.distribution{
    background-color: rgba(88, 126, 250, 0.904); 
    height: 90vh; width: 100vw;
    border: 1px solid black;
    margin-left: -1vw ;
    padding-bottom: 0;
}
.dis_content{
    padding-right: 3vw;
    padding-left: 1vw;
    text-shadow: 2px 1px #e83a00;
    font-size: 120%;
    font-family: cursive;
}
.dis_content_head{
    text-shadow: 4px 3px #a309cd;
    font-size: 230%;
    font-family: fantasy;;
}